<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
            table {
                border-collapse: collapse;
                width: 50%;
            }
            td, th{
                border:1px solid;
                text-align: center;
                padding: 10px;
    
    
            }
            tr:nth-child(even){
                background: #5de0f1;    
            }
    </style>
</head>
<body>
    <h3>1. Plot the number of matches played per year of all the years in IPL.</h3>
    <table>
        <tr>
        <th>
            season
        </th>
        <th>
            no_of_matches
        </th>
        </tr>

        {% for i in object_list %}
        <tr>
            <td>{{i.season}}</td>
            <td>{{i.no_of_matches}}</td>
        </tr>
        {% endfor %}


    </table>
    
   
    
</body>
</html>