<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        td, th{
            border:1px solid;
            text-align: center;
            padding: 10px;


        }
        tr:nth-child(even){
            background: #5de0f1;
        }
    </style>
</head>

<body>
    <h3>2. Plot a stacked bar chart of matches won of all teams over all the years of IPL.</h3>
    <table>
        <tr>
            <th>
                Winner
            </th>
            <th>
                Season
            </th>
            <th>
                wins
            </th>
        </tr>
        {% for i in object_list %}
        <tr>
            
            <td>{{i.winner}}</td>
            <td>{{i.season}}</td>
            <td>{{i.wins}}</td>
            

        </tr>
        {% endfor %}
    </table>

</body>

</html>