<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }
        td, th{
            border:1px solid;
            text-align: center;
            padding: 10px;


        }
        tr:nth-child(even){
            background: #5de0f1;
        }
    </style>
</head>

<body>
    <h3>4. For the year 2015 plot the top economical bowlers.</h3>
    <table>
        <tr>
            <th>
                Bowler
            </th>
            <th>
                Economy
            </th>
            
        </tr>
        {% for i in object_list %}
        <tr>
            
            <td>{{i.bowler}}</td>
            <td>{{i.economy| floatformat:3}}</td>
            

        </tr>
        {% endfor %}
    </table>

</body>

</html>